<p id="notice"><%= notice %></p>

<h1><%=  @comment.title %></h1>

<table width="100%">
  <tr>
    <th width="50%">Комметарий</th>
    <th>Цитата из Библии</th>
  </tr>
  <tr>
    <td valign="top"><%=raw RedCloth.new(@comment.comment, [:filter_html]).to_html %></td>
    <td valign="top">
      <%= content_tag :span, :id => "bible_quotes", :class => :bible_quote, "data-bible_links" => @comment.bible_links, "data-target" => "#bible_quotes" do %>
        Loading...
      <% end %>
    </td>
  </tr>
</table>

<% if can? :update, @comment %>
  <%= link_to 'Edit', edit_comment_path(@comment) %>
<% end %>
