<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @comment.title %>
</p>

<p>
  <%= content_tag :span, :class => :bible_quote, "data-bible_links" => @comment.bible_links do %>
    Loading...
  <% end %>
</p>

<p>
  <b>Comment:</b>
  <%= @comment.comment %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
