<!DOCTYPE html>
<html>
<head>
  <title>BibleComments</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "http://bible-api.herokuapp.com/assets/api.js" %>
  <%= csrf_meta_tags %>
</head>
<body>


  <% if current_user %>
    Здравствуйте, <%= current_user.name %>! <%= link_to "Выйти", sign_out_path %>
  <% else %>
  <script src="http://loginza.ru/js/widget.js" type="text/javascript"></script>
  <a href="http://loginza.ru/api/widget?token_url=<%= sign_in_url %>" class="loginza">
    <img src="http://loginza.ru/img/sign_in_button_gray.gif" alt="Войти через loginza"/>
  </a>
  <% end %>

  <%= yield %>

</body>
</html>
